css .app-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  color: black;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: #e44d26;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #343a40;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw; /* Full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.nav-brand h1 {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

.search-icon {
  margin-left: 0.5rem;
  color: white;
}

.nav-links a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 1rem;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  margin: 1rem;
}

.footer-section h3 {
  margin-top: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-links a {
  color: white;
  margin-right: 1rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
}
